*.jpg filter=annex annex.largefiles=anything
*.png filter=annex annex.largefiles=anything
*.jpeg filter=annex annex.largefiles=anything
*.pdf filter=annex annex.largefiles=anything
*.doc filter=annex annex.largefiles=anything
*.docx filter=annex annex.largefiles=anything
*.xls filter=annex annex.largefiles=anything
*.xlsx filter=annex annex.largefiles=anything
*.ppt filter=annex annex.largefiles=anything
*.pptx filter=annex annex.largefiles=anything
*.odt filter=annex annex.largefiles=anything
*.ods filter=annex annex.largefiles=anything
*.odp filter=annex annex.largefiles=anything
*.gif filter=annex annex.largefiles=anything
*.bmp filter=annex annex.largefiles=anything
*.tif filter=annex annex.largefiles=anything
*.tiff filter=annex annex.largefiles=anything
*.webp filter=annex annex.largefiles=anything
*.heic filter=annex annex.largefiles=anything
*.ico filter=annex annex.largefiles=anything
*.psd filter=annex annex.largefiles=anything
*.mp3 filter=annex annex.largefiles=anything
*.wav filter=annex annex.largefiles=anything
*.flac filter=annex annex.largefiles=anything
*.aac filter=annex annex.largefiles=anything
*.ogg filter=annex annex.largefiles=anything
*.m4a filter=annex annex.largefiles=anything
*.wma filter=annex annex.largefiles=anything
*.mp4 filter=annex annex.largefiles=anything
*.mkv filter=annex annex.largefiles=anything
*.avi filter=annex annex.largefiles=anything
*.mov filter=annex annex.largefiles=anything
*.flv filter=annex annex.largefiles=anything
*.webm filter=annex annex.largefiles=anything
*.mpg filter=annex annex.largefiles=anything
*.mpeg filter=annex annex.largefiles=anything
*.wmv filter=annex annex.largefiles=anything
*.zip filter=annex annex.largefiles=anything
*.rar filter=annex annex.largefiles=anything
*.7z filter=annex annex.largefiles=anything
*.tar filter=annex annex.largefiles=anything
*.gz filter=annex annex.largefiles=anything
*.bz2 filter=annex annex.largefiles=anything
*.xz filter=annex annex.largefiles=anything
*.iso filter=annex annex.largefiles=anything
*.exe filter=annex annex.largefiles=anything
*.dll filter=annex annex.largefiles=anything
*.so filter=annex annex.largefiles=anything
*.dylib filter=annex annex.largefiles=anything
*.out filter=annex annex.largefiles=anything
*.bin filter=annex annex.largefiles=anything
*.app filter=annex annex.largefiles=anything
*.ttf filter=annex annex.largefiles=anything
*.otf filter=annex annex.largefiles=anything
*.fnt filter=annex annex.largefiles=anything
*.swf filter=annex annex.largefiles=anything
*.dat filter=annex annex.largefiles=anything
*.pkt filter=annex annex.largefiles=anything
